/Narrow the login form, size according to display size (bigger on mobile)/
#loginPage .readOnlyContent,
#loginPage form {
max-width: 22em;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
margin-top: 8em;
margin-left: auto;
margin-right: auto;
background: rgba(0, 0, 0, 0.35);
width: 24em;
border-radius: var(--rounding);
}

#loginPage .squareCard {
width: 33%;
}

#loginPage form {
padding-top: 4em;
}

#loginPage .sectionTitle{
margin: 0 auto 1.2em auto !important;
}

/Hide "manual" and "forgot" buttons}/
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
display: none;
}

/Set background image/
#loginPage {
background: url(https://i.imgur.com/9vL4iNf.png) no-repeat center center fixed;
background-size: cover;
}
