/* Alternate itempage */

.itemBackdrop {
  height: 31vh;
  display: inherit;
}

.detailLogo {
  display: none;
}

.layout-desktop .detailRibbon {
  margin: 0.5em 0;
  padding: 0.5em 0;
}

.layout-desktop .detailImageContainer .card {
  top: 18vh;
}

#itemDetailPage .detailLogo {
  position: static;
  margin: -18vh 0 2vh 32.5%;
  display: block;
  -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
  filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
  flex-shrink: 0;
  background-position: 0 50%;
}

.layout-mobile .detailLogo {
  display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast,
.hide+.detailPageWrapperContainer .itemName {
  display: none;
}

.itemName {
  margin: 0.5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
}
