/* Size episode preview images in a more compact way */

.listItemImage.listItemImage-large.itemAction.lazy {
  transition: filter 0.2s;
  height: 80px;
}

.listItemImage.listItemImage-large.itemAction.lazy:hover {
  filter: brightness(70%);
}

.listItem-content {
  height: 85px;
}

.listItem-overview {
  height: 2.5rem;
  margin: 0;
}

.listItem-overview--large {
  height: 4rem;
}

.listItemImageButton {
  margin: auto;
  padding: 0;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0);
}

.listItemImageButton-icon {
  display: none;
}

.missingIndicator, .unairedIndicator {
  background-color: #ae3030eb;
  padding: 0.3em 0.6em;
  color: #fff;
}

.layout-mobile .listItemImageButton {
  background-color: rgba(0, 0, 0, 0);
}
