:root {
  --accent: 255, 0, 0; /* замінити на колір акцента */
}

/*Glow accent on hover*/
.cardOverlayContainer,
.dialog,
.toast,
.raised.homeLibraryButton,
.drawer-open {
  border: solid 1px rgba(var(--accent), 0);
}

.cardOverlayContainer:hover,
.raised.homeLibraryButton:hover,
.drawer-open {
  box-shadow: 0 0 5px rgba(var(--accent), 1);
  border: solid 1px rgba(var(--accent), 0.6);
}

.raised.homeLibraryButton,
.drawer-open {
  box-shadow: 0 0 5px rgba(var(--accent), 0);
  border-right: solid 1px rgba(var(--accent), 1);
}

