:root {
  --accent: 255, 0, 0; /* замість цього значення вкажіть свій вибір кольору */
}

.raised.homeLibraryButton,
.cardOverlayContainer {
  border: solid 1px rgba(var(--accent), 0);
}

.raised.homeLibraryButton:hover,
.cardOverlayContainer:hover,
.dialog,
.toast {
  box-shadow: 0 0 5px rgba(var(--accent),
