/*New progress bar*/
.progressBar {
  border-radius: var(--rounding);
  height: 6px;
  background: rgba(0,0,0,0.4);
  margin: 0.5em 0.8em;
}

.progressBarForeground {
  background-color: rgba(var(--accent), 0.95) !important;
}

#indexPage .progressBar,
#itemDetailPage .progressBar {
  box-shadow: none;
}

/*Accommodate play button on mobile*/
@media all and (max-width: 100em){
  .progressBar {
    margin-right: 3.2em;
  }
}

@supports (backdrop-filter: blur(15px)) {
  .progressBar {
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.35) !important;
  }
}
