/* Set background color to transparent */
.skinHeader-withBackground {
background-color: transparent;
}

/* Set margin and padding for pages with single unit height taskbar */
@media (min-width: 100em) {
#indexPage,
#moviesPage,
#tvRecommendedPage,
#musicRecommendedPage {
margin-top: 68px;
padding-top: 0;
overflow-y: scroll;
}
}

/* Set margin and padding for pages with two unit height taskbar */
@media (max-width: 100em) {
#indexPage,
#moviesPage,
#tvRecommendedPage,
#musicRecommendedPage {
margin-top: 130px;
padding-top: 0.5em;
overflow-y: scroll;
}
}

/* Set overflow for scrollable elements */
.force-scroll {
overflow: auto;
}
